 <div class="row"> 
    <div class="jumbotron-white">
        <h1>Current Project</h1>
        <h2>What makes Vancouverites sad?</h2>
         <%= link_to "Go to Smart City Project", "#", class: "btn btn-lg btn-primary" %>
    </div>
</div>

  <div class="row">
    <div class="col-md-3">
      <div id="side-nav" class="sidebar" data-spy="affix" data-offset-top="300">
        <h2>Projects</h2>
        <ul class="nav sidenav">
          <li><%= link_to "Crawljax", "#crawljax" %></li>
          <li><%= link_to "Sentiment Analysis Mashup", "#sentiment" %></li>
          <li><%= link_to "Address Book Web Application", "#addressbook" %></li>
          <li><%= link_to "High Altitude GPS Glider", "#gpsglider" %></li>
          <li><%= link_to "Roboracer", "#roboracer" %></li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <div class="jumbotron-white">
        <div class="project-content">
            <div class="section-header">
                <h2 class="anchor" id="crawljax"> Crawljax </h2>
                <small>
                    <%= link_to "Link to project", "http://crawljax.com/", target: "_blank" %>
                </small>
            </div>
            <p> 
            Craljax is an open source, web-crawling tool written in Java for crawling and testing modern web applications. It creates a state-flow diagram of the DOM states and the events that causes the transitions between the states. 
            </p>
            <p>
                As my final project for a Software Engineering course in UBC, I've contribute to the project with a team of four fellow students. Using agile development practices such as TDD, user stories and sprint planning, we've successfully fixed two issues:
                <ul>
                    <li><%= link_to "Issue #135: ", "https://github.com/crawljax/crawljax/issues/135", target: "_blank" %> Improving Crawl configurations with clever XPath manipulation. </li>
                    <li><%= link_to "Issue #151: ", "https://github.com/crawljax/crawljax/issues/151", target: "_blank" %>Refactor two similar classes into one single class.</li>
                </ul>
                Our Pull Request for Issue #135 has been merged to master but unfortunately for Issue #151, someone else submitted a pull request before us and ours did not get accepted.
            </p>   
        </div>
        <div class="project-content">
          <div class="section-header">
            <h2 class="anchor" id="sentiment">Sentiment Analysis Mashup</h2>
            <small>
                <%= link_to "Link to code", "https://github.com/chris-yoon90/sentiment_analysis"%>
            </small>
          </div>
          <%= image_tag("sentiment_analysis_img.jpg", size: "600x450")%>
          <p>
            This is a quick mashup application I've made with <%= link_to "colinmleung", "https://github.com/colinmleung", target: "_blank"%> to analyze reddit and twitter posts based on their sentiment. For example, a user can type in a keyword to a search box and the application will return the first nine results from Reddit or Twitter relating to the keyword. But that's not all. The web application is hooked up to a sentiment analysis API that can analyze the content and give it a score based on their sentiment.
          </p>
          <p>
            The application used to work for both Reddit and Twitter, but after Twitter's API change to v1.1, Twitter side will not work anymore because: <%= link_to '"every request to the API to be authenticated"', "https://dev.twitter.com/blog/changes-coming-to-twitter-api", target: "_blank"%> (dated August, 2012). However, the application should still work with Reddit.
          </p>
          <p>
            I've attempted, a few months back, to re-write this application in Ruby on Rails and improve the UI design but I've been busy with work, school and other projects. Hopefully, I'll get to work on it sometime later. <%= link_to "New_sentiment_analysis", "https://github.com/chris-yoon90/new_sentiment_analysis", target: "_blank" %>
          </p>

        </div>
        <div class="project-content">
          <div class="section-header">
            <h2 class="anchor" id="addressbook">Address Book Web Application</h2>
            <small> 
                <%= link_to "Link to code", "https://github.com/chris-yoon90/Addressbook", target: "_blank" %>
            </small>
          </div>
          <%= image_tag "addressbook.JPG", size: "600x450"%>
          <p>
          </p>
        </div>
        <div class="project-content">
            <div class="section-header">
                <h2 class="anchor" id="gpsglider">High Altitude GPS Glider</h2>
                <small> 
                    <%= link_to "Link to project detail", "http://projectlab.engphys.ubc.ca/wp-content/uploads/1205-ENPH459-Presentation-v1.pdf", target: "_blank"%> |
                    <%= link_to "Link to project report", "https://www.dropbox.com/s/0htnd9r5jcel1sh/Group1205_FinalReport.pdf", target: "_blank" %> |
                    <%= link_to "Link to presentation video", "https://www.dropbox.com/s/bslrmkymrcrmbio/1205%20Video_1.wmv", target: "_blank" %>
                </small>
            </div>
            <%= image_tag "landingalgorithm.png", size: "500x450"%>
            <p>

            </p>
        </div>
        <div class="project-content">
          <div class="section-header">
            <h2 class="anchor" id="roboracer">2010 Engineering Physics Robotics Competition: Roboracer</h2>
            <small><%= link_to "Link to project", "http://shermanthetank.blogspot.ca/", target: "_blank"%> |
                <%= link_to "Link to the video of final round", "http://www.youtube.com/watch?feature=player_embedded&v=Wrp9FB19lBI", target: "_blank" %>
            </small>
          </div>
          <%= image_tag "sherman.jpg", size: "570x450"%>
          <p>
              
          </p>
        </div>
    </div>
  </div>
  </div>