<div class="row">
    <div class="col-xs-3">
      <div id="side-nav" class="sidebar" data-spy="affix" >
        <h2>Work Experience</h2>
        <ul class="nav sidenav">
          <li><%= link_to "PNI Digital Media", "#pnimedia" %></li>
          <li><%= link_to "Global Relay", "#globalrelay" %></li>
          <li><%= link_to "Sierra Wireless Inc.", "#sierrawireless" %></li>
          <li><%= link_to "NTT Corporation", "#ntt" %></li>
          <li><%= link_to "MDA Corporation", "#mda" %></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-9">
      <div class="jumbotron-white">

        <div class="project-content">
            <div class="section-header">
                <h2 class="anchor" id="pnimedia"> PNI Digital Media </h2>
                <small class="small-text">
                    Junior Developer <span class="pull-right italic">June 2014 - Present</span>
                </small>
            </div>
        </div>

        <div class="project-content">
            <div class="section-header">
                <h2 class="anchor" id="globalrelay"> Global Relay </h2>
                <small class="small-text">
                    Java-Developer <span class="pull-right italic">May 2013 - August 2013</span>
                </small>
            </div>
            <p class= "small-text"> 
            At Global Relay, I was working as a Java Developer in a team developing General Authentication Service (GAS). GAS is THE gateway to different services provided by the company and it administers the access rights as well as the security of the users.
            </p>
            <p class="small-text">
                I designed and maintained the automation framework including smoke, regression, sanity and unit testing, wrote new automation for new user stories, maintained scripts (python, bash) used in Atlassian Bamboo and Jenkins for automated builds and tests, and fix bugs. 
            </p>  
            <p class="small-text">
                My main accomplishment while working in Global Relay was that I redesigned the architecture of the existing automation tests. With the use of PageFactory pattern and Object Oriented Programming practices, I refactored the automation code containing over 200 tests to be more readable, maintainable and modular, ultimately reducing the running time of the tests by 30%.
            </p> 
        </div>
        <div class="project-content">
          <div class="section-header">
            <h2 class="anchor" id="sierrawireless">Sierra Wireless Inc.</h2>
            <small class="small-text">
                Software Test Developer <span class="pull-right italic">May 2012 - December 2012</span>
            </small>
          </div>
          <p class="small-text">
            At Sierra Wireless, I was working as a Software Test Developer responsible for running manual and automated tests on wireless modules.Their various modules such as AirCard USB modems and Mobile Hotspots<sup>[1]</sup> and AirPrime embedded modules help people to stay connected from virtually anywhere, anytime.
          </p>
          <p class="small-text">
            My job was to investigate various ways to break software and hardware components of wireless modules to ensure the quality and the user experience of various modules. I was also automating tests for web applications used by the AirCard Mobile Hotspots using Selenium and TestNG to remove unnecessary repetition and to increase the efficiency of testing process.
          </p>
          <p class="small-text">
            My main accomplishment in Sierra Wireless was that I've developed an API for real-time status loggin system to allow smarter debugging of automation code.
          </p>
          <p class="small-text">
          </p>
          <p class="extra-small-text">
          [1] - As of April 2, 2013, Sierra Wireless Aircard business has been acquired by Netgear
          </p>

        </div>
        <div class="project-content">
          <div class="section-header">
            <h2 class="anchor" id="ntt">NTT Corporation</h2>
            <small class="small-text"> 
                Lightwave Circuit Researcher / Software Developer <span class="pull-right italic">May 2011 - August 2011</span>
            </small>
          </div>
          <p class="small-text">
            I had a rare opportunity to work as a Lightwave Circuit Researcher at NTT Photonics Laboratories located in Kanagawa, Japan. NTT is one of the key players in telecommunication industry in the world. In their Photonics Laboratories they research and develop optical devices including photonic semiconductors, photonic integrated circuits and new phonic materials and processing technology.
          </p>
          <p class="small-text">
            My main responsibility was to take various measurements of Planar Lightwave Circuits (PLCs) using lab equipment such as Optical Spectrum Analyzer, ASE light source and optical switch.
          </p>
          <p class="small-text">
            I also developed data visual analytics tools using C++ and various open source toolkits such as FLTK and ALGLIB. These tools ran useful mathematical analyses on large data files containing raw data from waveguide measurements.
          </p>
        </div>
        <div class="project-content">
            <div class="section-header">
                <h2 class="anchor" id="mda">MDA Corporation</h2>
                <small class="small-text"> 
                    System Test Engineer <span class="pull-right italic">January 2010 - April 2010</span>
                </small>
            </div>
            <p class="small-text">
              At MDA Corporation, I worked as a System Test Engineer for a small team developing a web-enabled database management system called AIRNAV for storing aeronautical data. It supports a detailed, accurate and flight inspected database of airports and navigational facilities used for designing instrument flight procedures for aircraft pilots.
            </p>
            <p class="small-text">
               I designed and wrote various test procedures and executed them daily to verify the quality of the application. I also maintained my team's database that contains test data using Oracle SQL developer.
            </p>
            <p class="small-text">
              My main accomplishment here was that I designed and wrote a detailed workflow regression test procedure that verifies the core functionalities of the application.
            </p>
        </div>
    </div>
  </div>
  </div>