 <script type="text/javascript">
 $('#side-nav').affix({offset: { top: 300 }});
 </script>

 <div class="row"> 
    <div class="jumbotron-white">
        <h1>Current Project</h1>
        <h2>What makes Vancouverites sad?</h2>
         <%= link_to "Go to Smart City Project", "#", class: "btn btn-lg btn-primary" %>
    </div>
</div>
  

  <div class="row">
    <div class="col-md-3">
      <div id="side-nav" class="sidebar" data-spy="affix" data-offset-top="300">
        <h2>Projects</h2>
        <ul class="nav sidenav">
          <li><%= link_to "Crawljax", "#crawljax" %></li>
          <li><%= link_to "Sentiment Analysis Mashup", "#sentiment" %></li>
          <li><%= link_to "Address Book Web Application", "#addressbook" %></li>
          <li><%= link_to "High Altitude GPS Glider", "#gpsglider" %></li>
          <li><%= link_to "Roboracer", "#roboracer" %></li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <div class="jumbotron-white">
        <div class="project-content">
          <div class="section-header">
            <h2 class="anchor" id="crawljax"> Crawljax </h2>
          </div>
        </div>
        <div class="project-content">
          <div class="section-header">
            <h2 class="anchor" id="sentiment">Sentiment Analysis Mashup</h2>
          </div>
        </div>
        <div class="project-content">
          <div class="section-header">
            <h2 class="anchor" id="addressbook">Address Book Web Application</h2>
          </div>
        </div>
        <div class="project-content">
          <h2 class="anchor" id="gpsglider">High Altitude GPS Glider</h2>
        </div>
        <div class="project-content">
          <div class="section-header">
            <h2 class="anchor" id="roboracer">2010 Engineering Physics Robotics Competition: Roboracer</h2>
          </div>
        </div>
    </div>
  </div>
  </div>